# git repos
-e git+ssh://git@github.com/technozhantomz/peerplays0.4.0.git@master#egg=peerplays
autobahn
# pycrypto
pycryptodome
pyyaml
pyCryptodomex

# flask
flask==1.1.2
Flask-SQLAlchemy
Flask-Session
flask-cors
flask-script
flask-mail
-e git+ssh://git@github.com/technozhantomz/graphenelib1.1.8.git@master#egg=graphenelib
# hosting
gunicorn
configparser

# misc
requests>=2.9.1

# asynchronous worker
rq
redis
redis-server

# for tests
numpy
