# git repos
peerplays
autobahn
# pycrypto
pycryptodome
pyyaml
pyCryptodomex

# flask
flask
Flask-SQLAlchemy
Flask-Session
flask-cors
flask-script
flask-mail

# hosting
gunicorn
configparser

# misc
requests>=2.9.1

# asynchronous worker
rq
redis

# for tests
numpy
